:root {
    --scrollbar-width: 8px;
    --std-padding: 8px;
    --std-border-radius: 4px;
    --std-outline: 0 0 0 2pt #8fafdf;
    --std-scrollarea-height: 600px;
    --menu-bar-height: 40px;
    --rooms-panel-width: 250px;
    --room-li-height: 50px;
    --room-li-img-height: 32px;
    --message-height: 32px;
    --message-img-height: 24px;
    --input-height: 60px;
    --input-box-height: 24px;
    --primary-color: #001f4f;
    --secondary-color: white;
    --secondary-hover: #bfcfff;
    --secondary-active: #7f9fff;
    --primary-text-color: white;
    --secondary-text-color: black;
    --tertiary-text-color: #7f9fff;
    --tertiary-text-hover: #5f7fef;
    --tertiary-text-active: #3f5fdf;
    --error-text-color: #cf0000;
    --success-text-color: #00af3f;
    --menu-color: #1f3f8f;
    --menu-hover: #2f5faf;
    --menu-active: #3f7fcf;
    --menu-dark-color: #2f0f8f;
    --menu-dark-hover: #3f1faf;
    --menu-dark-active: #4f2fcf;
    --input-color: #2f4fbf;
    --message-user-color: #00afff;
    --message-timestamp-color: #9f9fcf;
    --message-text-size: 12pt;
    --friend-button-width: 80px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background-color: rgba(127, 192, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-text-color);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-text-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--tertiary-text-active);
}

::selection {
    background-color: var(--secondary-active);
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14pt;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    padding: 16px 0px;
    font-weight: 500;
}

h1 {
    padding: 16px;
}

p {
    text-align: justify;
}

input[type=text], input[type=email], input[type=password] {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    width: calc(100% - 2 * var(--std-padding));
    padding: var(--std-padding);
    border-radius: var(--std-border-radius);
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
    background-color: var(--secondary-hover);
}

input[type=text]:active, input[type=email]:active, input[type=password]:active {
    background-color: var(--secondary-active);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: var(--secondary-active);
    box-shadow: var(--std-outline);
}

button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 8px;
    border-radius: var(--std-border-radius);
    border: none;
    outline: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-hover);
}

button:active {
    background-color: var(--secondary-active);
}

button:focus {
    box-shadow: var(--std-outline);
}

button:disabled {
    background-color: var(--secondary-color);
    cursor: default;
}

a {
    color: var(--tertiary-text-color);
    text-decoration: none;
    border-radius: var(--std-border-radius);
    outline: none;
}

a:hover {
    color: var(--tertiary-text-hover);
}

a:active {
    color: var(--tertiary-text-active);
}

a:focus {
    box-shadow: var(--std-outline);
}

.rounded {
    border-radius: 9999px;
    padding: 8px 16px;
}

.centered-text {
    text-align: center;
}

.padded {
    padding: var(--std-padding);
}

.middle-content {
    max-width: 600px;
    margin: auto;
}

.form-label {
    margin-top: 12px;
    margin-bottom: 4px;
}

.form-input {
    margin-top: 4px;
    margin-bottom: 12px;
}

.form-button {
    margin: 12px 0px;
    padding: 8px 12px;
}

.invisible {
    display: none;
}

#error-text {
    color: var(--error-text-color);
}

.smaller-text {
    font-size: 11pt;
    font-style: italic;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-div {
    padding: calc(2 * var(--std-padding));
    height: calc(100% - var(--menu-bar-height) - 4 * var(--std-padding));
    overflow-y: scroll;
}

#menu-bar {
    -webkit-app-region: drag;
    position: relative;
    background-color: var(--menu-color);
    height: var(--menu-bar-height);
}

#menu-list {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    background-color: var(--menu-color);
    height: 100%;
}

#menu-list li {
    display: inline-block;
    height: 100%;
}

#menu-list li a button {
    color: var(--secondary-color);
    background-color: var(--menu-color);
    height: 100%;
    padding: 0 calc(var(--std-padding) * 1.2);
    border-radius: 0;
    outline: none;
    font-size: 10pt;
}

#menu-list li a button:hover {
    background-color: var(--menu-hover);
}

#menu-list li a button:active {
    background-color: var(--menu-active);
}

#menu-list li a button:focus {
    box-shadow: none;
}

.title {
    text-align: center;
    line-height: var(--menu-bar-height);
    padding: 0;
}

#window-menu {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none;
    background-color: var(--menu-color);
    height: 100%;
}

#window-menu li {
    display: inline-block;
    width: var(--menu-bar-height);
    height: 100%;
}

#window-menu li button {
    color: var(--secondary-color);
    background-color: var(--menu-color);
    width: 100%;
    height: 100%;
    border-radius: 0;
    outline: none;
}

#window-menu li button:hover {
    background-color: var(--menu-hover);
}

#window-menu li button:active {
    background-color: var(--menu-active);
}

#window-menu li button:focus {
    box-shadow: none;
}

.main-screen {
    width: 100%;
    height: calc(100vh - var(--menu-bar-height));
}

.main-screen::after {
    clear: both;
}

.height-expand {
    align-items: stretch;
}

#rooms-panel {
    background-color: var(--menu-dark-color);
    float: left;
    width: var(--rooms-panel-width);
    height: 100%;
}

#room-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    overflow-y: scroll;
}

#room-list li {
    height: var(--room-li-height);
    line-height: var(--room-li-height);
}

#room-list li:hover {
    cursor: pointer;
}

#room-list li img {
    width: var(--room-li-img-height);
    height: var(--room-li-img-height);
    padding: calc((var(--room-li-height) - var(--room-li-img-height)) / 2);
    float: left;
}

#room-list li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - var(--scrollbar-width));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    font-size: 12pt;
}

#room-list li::after {
    clear: both;
}

#room-list li:hover {
    background-color: var(--menu-dark-hover);
}

#room-list li:active {
    background-color: var(--menu-dark-active);
}

#current-room {
    float: left;
    width: calc(100% - var(--rooms-panel-width));
    height: calc(100vh - var(--menu-bar-height));
}

#messages {
    width: calc(100% - 2 * var(--std-padding));
    height: calc(100% - var(--input-height) - 2 * var(--std-padding));
    padding: var(--std-padding);
    overflow-y: scroll;
}

.message {
    min-height: var(--message-height);
    line-height: var(--message-height);
    font-size: var(--message-text-size);
    overflow-y: auto;
}

.message img {
    width: var(--message-img-height);
    height: var(--message-img-height);
    padding: calc((var(--message-height) - var(--message-img-height)) / 2);
}

.message .username {
    color: var(--message-user-color);
}

.message .timestamp {
    color: var(--message-timestamp-color);
}

.message .message-content {
    color: var(--primary-text-color);
}

.message img, .message p .username, .message p .timestamp, .message p .message-content {
    padding-right: var(--std-padding);
    float: left;
    display: table;
    white-space: normal;
}

.message::after {
    clear: both;
}

#input {
    background-color: var(--input-color);
    padding: calc((var(--input-height) - var(--input-box-height) - 2 * var(--std-padding)) / 2);
}

#input input {
    height: var(--input-box-height);
}

.settings-option {
    padding-bottom: var(--std-padding);
}

.space-above {
    margin-top: var(--std-padding);
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-top: var(--std-padding);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: var(--secondary-hover);
}

.checkbox-container:active input ~ .checkmark {
    background-color: var(--secondary-active);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #005fff;
}

.checkbox-container:hover input:checked ~ .checkmark {
    background-color: #004fef;
}

.checkbox-container:active input:checked ~ .checkmark {
    background-color: #003fdf;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.account-info {
    margin-bottom: var(--std-padding);
}

.account-info tr {
    height: 40px;
}

.account-info tr td {
    padding-right: var(--std-padding);
}

.std-panel {
    background-color: var(--menu-dark-color);
    width: 100%;
    max-height: var(--std-scrollarea-height);
    overflow-y: scroll;
}

.std-panel ul {
    list-style-type: none;
    max-height: 100%;
}

.std-panel ul li {
    height: var(--room-li-height);
    line-height: var(--room-li-height);
}

.std-panel ul li img {
    width: var(--room-li-img-height);
    height: var(--room-li-img-height);
    padding: calc((var(--room-li-height) - var(--room-li-img-height)) / 2);
    float: left;
}

.std-panel ul li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - var(--scrollbar-width));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    font-size: 12pt;
}

.std-panel ul li::after {
    clear: both;
}

.std-panel ul li button {
    color: var(--secondary-color);
    background-color: var(--menu-dark-color);
    height: 100%;
    width: var(--friend-button-width);
    padding: 0 calc(var(--std-padding) * 1.4);
    border-radius: 0;
    outline: none;
    float: right;
}

.std-panel ul li button:hover {
    background-color: var(--menu-dark-hover);
}

.std-panel ul li button:active {
    background-color: var(--menu-dark-active);
}

.std-panel ul li button:focus {
    box-shadow: none;
}

#search-results-list li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - 2 * var(--friend-button-width));
}

#friends-list li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - 2 * var(--friend-button-width));
}

#friends-incoming li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - 2 * var(--friend-button-width));
}

#friends-outgoing li span {
    width: calc(100% - var(--room-li-height) - ((var(--room-li-height) - var(--room-li-img-height)) / 2) - var(--friend-button-width));
}

.invisible {
    display: none;
}

.centered-div {
    margin: auto;
    text-align: center;
}

.loading {
    color: var(--message-timestamp-color);
}
